# How to import dataset in python using Pandas Library?

Written by: Asmaa Masood

Date:08-05-2025

Email: mrs.tasawar000@gmail.com

In [1]:
import pandas as pd

In [ ]:
import pandas as pd

file_path = '../day_6/pandas_01_day6.xlsx'   #To import the file from different directory
df = pd.read_excel(file_path)

print(df.head())

   height  weight favourite_dish
0     5.8     101  Chicken Pulao
1     6.2      92        Biryani
2     5.9      62  Karahi Ghosht
3     5.9      95  Chicken Pulao
4     5.9      55  Chicken Pulao

## View DataFrames in Python Using Pandas

In [7]:
df.index

RangeIndex(start=0, stop=87, step=1)

In [8]:
df.columns

Index(['height', 'weight', 'favourite_dish'], dtype='object')

In [10]:
df.describe()

           height      weight
count   87.000000   87.000000
mean     9.998391   70.459770
std     25.733340   16.753899
min      5.000000   25.000000
25%      5.300000   60.000000
50%      5.600000   70.000000
75%      5.850000   80.000000
max    178.000000  125.000000

In [ ]:
df.T  #to convert rows to columns(Transpose)

,0,1,2,3,4,5,6,7,8,9,...,77,78,79,80,81,82,83,84,85,86
height,5.8,6.2,5.9,5.9,5.9,5.3,5.6,5.9,5.1,5.4,...,5.5,5.11,5.3,5.4,5.5,5.4,5.9,5.4,6.2,5.1
weight,101,92,62,95,55,59,50,76,78,68,...,85,72,62,55,52,55,75,61,68,96
favourite_dish,Chicken Pulao,Biryani,Karahi Ghosht,Chicken Pulao,Chicken Pulao,Biryani,Pasta,Biryani,Biryani,Biryani,...,Biryani,Karahi Ghosht,Biryani,Pasta,Karahi Ghosht,Pasta,Karahi Ghosht,Biryani,Chicken Pulao,Biryani

In [ ]:
df.sort_index

<bound method DataFrame.sort_index of     height  weight favourite_dish
0      5.8     101  Chicken Pulao
1      6.2      92        Biryani
2      5.9      62  Karahi Ghosht
3      5.9      95  Chicken Pulao
4      5.9      55  Chicken Pulao
..     ...     ...            ...
82     5.4      55          Pasta
83     5.9      75  Karahi Ghosht
84     5.4      61        Biryani
85     6.2      68  Chicken Pulao
86     5.1      96        Biryani

[87 rows x 3 columns]>

In [13]:
df.sort_index(ascending=False)

    height  weight favourite_dish
86     5.1      96        Biryani
85     6.2      68  Chicken Pulao
84     5.4      61        Biryani
83     5.9      75  Karahi Ghosht
82     5.4      55          Pasta
..     ...     ...            ...
4      5.9      55  Chicken Pulao
3      5.9      95  Chicken Pulao
2      5.9      62  Karahi Ghosht
1      6.2      92        Biryani
0      5.8     101  Chicken Pulao

[87 rows x 3 columns]

In [1]:
import pandas as pd

file_path = '../day_6/pandas_01_day6.xlsx'   #To import the file from different directory
df = pd.read_excel(file_path)
print("Initial data types:")
print(df.dtypes)

Initial data types:
height            float64
weight              int64
favourite_dish     object
dtype: object